.container {
  display: flex;
  flex-direction: column;
}

#title {
  display: flex;
  justify-content: center;
}

#reservation {
  display: flex;
  justify-content: center;
}

#photos {
  position: relative;
  align-self: center;
  width: 40rem;
}

#root {
  display: flex;
  justify-content: center;
}

.rev {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 40rem;
}